
.game-tab .player-field {
  display: flex;
  height: 50vh;
  justify-content: space-between;
  gap: 0.75vw;
}
/*colocar cartas enemigas a la izquierda*/ 
.game-tab .enemy-field {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  margin-left: 7.75vw;
  gap: 0.75vw;
}




.main-shop h2, h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 16px;
  justify-content: center;
}

.shop-card {
  position: relative;
  height: 60vh;
  padding: 10px;
  border: 1px solid white;
}

.shop-card .buy-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.shop-card .buy-button:hover {
  background-color: #636262;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}