header h1 {
  display: flex;
  justify-content: center;

  align-items: center;
}
.logo {
 width: 5%;
 border-radius: 50px;
}

.game-tab .player-field {
  display: flex;
  height: 50vh;
  justify-content: space-between;
  gap: 0.75vw;
}
/*colocar cartas enemigas a la izquierda*/ 
.game-tab .enemy-field {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  margin-left: 7.75vw;
  gap: 0.75vw;
}

.player-field-card {
  text-shadow: #000000  0px 10px 10px;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.player-field-card button:hover {
  background-color: #fff;
  color: #000;
}

.player-field-card button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  left: 0;
  margin: 0.5rem;
}

.player-field-card:hover {
  transform: scale(1.05);
}

.player-field-card img {
  width: 100%;
  height: 100%;
}

.enemy-field-card {
  text-shadow: #000000  0px 10px 10px;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.enemy-field-card button:hover {
  background-color: #fff;
  color: #000;
}




.main-shop h2, h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 16px;
  justify-content: center;
}

.shop-card {
  position: relative;
  height: 60vh;
  padding: 10px;
  border: 1px solid white;
}

.shop-card .buy-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.shop-card .buy-button:hover {
  background-color: #636262;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}